{% import "macros.html.twig" as m %}
{% extends "item.html.twig" %}

{% block item_content %}

	<div id="viewer">
		<div id="viewer-nest">
			<img src="/item/{{data.response.pid}}/thumbnail" />
		</div>
		<div id="viewer-ribbon">
			<div id="viewer-ribbon-prev"></div>
			<div id="viewer-ribbon-next"></div>
			<div id="viewer-ribbon-nest">
				<div></div>
				<div></div>
				<div></div> 			
			</div>
		</div>
	</div>


<!-- default -->
<ul class="row-fluid objects-container" id="results_container" style="display:block;">
    <li class="obj-cnt object-container-grid">
        <div class="crop" style="height:100%;">
            <a href="item?id={{child}}"><img src="//{{config.APP_HOST}}/loris/fedora:{{child}}|THUMBNAIL/full/,150/0/default.png" /></a>
        </div>
        <h3>{{childTitle}}</h3>
    </li>
</ul>


{% endblock %}


{% block hierarchicalTree %}

<div class="row">
	<div id="hier_tree" class="col-md-12">
		<h4>Navigation</h4>	
			<div class="facets" style="width:100%;">
                {{ m.hierarchicalTree(data.response.content_type_specific.object_hierarchy, 0) }}
       		</div>
	</div>
</div>
	
{% endblock %}

