{% import "macros.html.twig" as m %}
{% extends "base.html.twig" %}

{% block title %}{{data.response.solr_doc.dc_title[0]}}{% endblock %}
{% block head %}
{{ parent() }}

<!-- analysis head content -->

	<!-- custom css -->
	<style>
        #templateCM a {
            text-decoration: underline;
            color:#093f39;
        }
        #fulltext_annotation {
        	padding:20px;
        	background-color:#F9F8F3;
        }
        hr.hr_page_break {
         border-top: 1px solid #cccccc;
        }
        .page_image {
         display:none;
         width:100%;
        }
        .page_img_link{
         color:blue;
         text-decoration: underline;
         cursor: pointer;
        }
        text p {
         font-size:125%;
         font-weight: 350;
        }
    </style>

<!-- hypothes.is -->
<script type="application/json" class="js-hypothesis-config">
  {
    "openSidebar": true
  }
</script>
<script src="/js/hypothesis_embed.js" async></script>

{% endblock %}

{% block content %}

	<div id="templateCM" class="container">

		<div class="row">
			<div class="col-md-12">

            <!-- ebooks -->
            {% if data.response.content_type == 'WSUebook' %}
               <h1>eBook Analysis: <a href="/item/{{pid}}"><em>{{data.response.solr_doc.dc_title.0}}</em></a></h1>
            {% endif %}

			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				
				<h2>Analyze</h2>
				
				<p><a href="https://voyant-tools.org/">Voyant</a> is a, "is a web-based text reading and analysis environment," that provides a graphical interface for analyzing the full-text as a wordcloud, limiting by searches, word and phrase co-locations, terms distribution throughout a text, and much more!  Click the button below to analyze this text in Voyant:</p>

				<p><a target="_blank" href="http://voyant-tools.org/?stopList=stop.en.taporware.txt&corpus={{data.response.pid}}&archive=http://{{settings.server.host}}/api/item/{{data.response.pid}}/text/raw"><button class="btn btn-info">Analyze Fulltext with Voyant</button></a></p>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				
				<h2>Annotate</h2>

				<p>Below is the full-text of this text that may be annotated by users using the <a href="https://hypothes.is/">Hypothes.is</a> platform.  The full-text will display on the left, with links to reveal the image of each page if desired.  To use, select the text from the left-hand side to annotate, and using the Hypothes.is window on the right, record an annotation for that passage of text.</p>

            <div style="width:150px;">
               <p>               
                  <div class="form-group">
                     <label for="collection" class="nameLabel">Jump to page:</label>
                     <select id="page_jump" class="form-control" name="collection">
                        
                        {% for page in data.response.analysis.page_list %}
                           <option value="{{page}}">Page {{page}}</option>
                        {% endfor %}

                     </select>
                  </div>

                  <script>

                     // page jump listener
                     $("#page_jump").change(function(){

                        // jump to <pb> with attrib "n"
                        page_num = $(this).val();
                        var pos = $('pb[n='+page_num+']').offset();
                        console.log(pos);                        
                        $('html,body').animate({
                           scrollTop: (pos.top - 100)
                        });

                     })

                  </script>
               </p>
            </div>

				<div id="fulltext_annotation">
					<div id="tei_container">						

                 {{data.response.analysis.tei_as_html|raw}}

                 <script>
                  $(document).ready(function(){
                     $('.page_img_link').click(function(){

                        // toggle link text
                        if ($(this).text().includes('see')) {
                           $(this).text($(this).text().replace('see','hide'));
                        }
                        else {
                           $(this).text($(this).text().replace('hide','see'));
                        }

                        // get image id
                        img_id = "img_" + $(this).attr('data');                        

                        // toggle flip data to src
                        $("#" + img_id).toggle();
                        $("#" + img_id).attr({
                           'src':$("#" + img_id).attr('data')
                        });

                     })
                  });

                 </script>
						
					</div>
				</div>

			</div>
		</div>


	</div>

{% endblock %}