{% import "macros.html.twig" as m %}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="page">
		<h1>Message Sent!</h1>
		<p>To: {{result.to}}</p>
		<p>From: {{result.from}}</p>
		<p>Subject: {{result.subject}}</p>
		<p>Message: {{result.msg}}</p>
	</div>
{% endblock %}
