{% import "macros.html.twig" as m %}
{% extends "base.html.twig" %}
{{data.response.solr_doc}}
{% block title %}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="page">
		<h1>{{form_title}}</h1>
		<form class="form" action="/contact" method="POST">
			Name: <input type="text" name="from"/></br>
			Email: <input type="text" name="email"/></br>
			Message: <textarea name="msg"/></textarea><br>
			<input type="hidden" name="subject" value="{{subject}}">
			<input type="hidden" name="contact_type" value="{{contact_type}}">
			{% if contact_type == "rap" or contact_type == "permissions" %}
			{% if pid %}
				<input type="hidden" name="pid" value="{{pid}}">
			{% endif %}			
			{% endif %}
			<input type="submit">
		</form>
		{% if result %}<h2>{{result}}</h2>{% endif %}
	</div>
{% endblock %}
