{% extends "base.html.twig" %}

{% block title %}{{ data.id }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="fullpage">
		<div id="fullpage-title">
			<h1>Item Page</h1>
		</div>
		<div style="padding-left:20px; font-size:75%;">
			<pre><code>{{ data|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>

			Main Image<br/>
			{# get preview image #}
			Secondary Image go here (for complex images, etc)<br/>
			{# if there are any associated images, those come below #}
			{{v.secondaryImages(data)}}
		</br>
		{# Title #}
		{{v.title(data)}}<br/>
		{# Resource Type #}
		{# Collection #}
		{# Date #}
		{{v.date(data)}}
		{# Creator #}
		{# Size #}
		{# Download #}
		{# Subjects #}
		{# Identifier #}
		{# Citation #}

		</div>
	</div>
{% endblock %}
