{% extends "base.html.twig" %}

{% block title %}{{data.response.solr_doc.dc_title[0]}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

{% block item_content %}{% endblock %}


<div id="details">
	<div id="details-nest">
		<h1>{{data.response.solr_doc.dc_title[0]}}</h1>
		<div id="details-nest-left">			
			
			{# Content Type #}
			{{ m.metadataField('Content Type', data.response.solr_doc.human_hasContentModel, 'human_hasContentModel', true) }}

			{# Collections #}
			{{ m.metadataField('Collection', data.response.solr_doc.human_isMemberOfCollection, 'human_isMemberOfCollection', true) }}

			{# date #}
			{# {{ m.metadataField('Date', data.response.solr_doc.dc_date, 'dc_date', true) }} #}

			{# creator #}
			{# {{ m.metadataField('Creator', data.response.solr_doc.dc_creator, 'dc_creator', false) }} #}

			{# objSize #}
			{{ m.metadataField('Object Size', data.response.solr_doc.obj_size_human, 'obj_size_human', true) }}
		
		</div>
		<div id="details-nest-right">
			{% block item_downloads %}{% endblock %}
			<div id="details-nest-right-share">
				<div class="label">Share</div>
				<a id="details-nest-right-share-facebook" href="#">Facebook</a>
				<a id="details-nest-right-share-twitter" href="#">Twitter</a>
				<a id="details-nest-right-share-instagram" href="#">Instagram</a>
				<a id="details-nest-right-share-pinterest" href="#">Pinterest</a>
			</div>
			<div id="details-nest-right-order">
				<div class="label">Contact</div>
				<a href="/contact?type=permissions&pid={{data.response.pid}}">Request permission</a>
				<a href="/contact?type=rap&pid={{data.response.pid}}">Report a Problem</a>
			</div>
		</div>
	</div>
</div>

<div id="item-data">
	<div id="item-data-nest">
		<div id="item-data-left">
			<h1>Metadata</h1>

			{# title #}
			{{ m.metadataField('Title', data.response.solr_doc.dc_title, 'dc_title', false) }}

			{# creator #}
			{{ m.metadataField('Creator', data.response.solr_doc.dc_creator, 'dc_creator', false) }}

			{# description #}
			{{ m.metadataField('Description', data.response.solr_doc.mods_abstract_ms, 'mods_abstract_ms', false) }}

			{# date #}
			{{ m.metadataField('Date', data.response.solr_doc.dc_date, 'dc_date', true) }}

			{# transcription #}
			{{ m.metadataField('Transcription', data.response.solr_doc.mods_note_transcription_ms, 'mods_note_transcription_ms', false, true) }}

			{# publisher #}
			{{ m.metadataField('Publisher', data.response.solr_doc.dc_publisher, 'dc_publisher', true) }}

			{# subjects #}
			{{ m.metadataField('Subjects', data.response.solr_doc.dc_subject, 'dc_subject', true) }}

			{# coverage #}
			{{ m.metadataField('Coverage', data.response.solr_doc.dc_coverage, 'dc_coverage', true) }}

			{# PID #}
			{{ m.metadataField('Digital Collections Identifier', data.response.pid, 'pid', false) }}

			{# mods identifier #}
			{{ m.metadataField('Other Identifiers', data.response.solr_doc.mods_identifier_local_ms, 'mods_identifier_local_ms', false) }}

			{# API #}
			<div>
				<div class="label">Structured Data</div>
				<div><a href="/{{settings.API.prefix}}/item/{{data.response.pid}}">WSUDOR API</a></div>
			</div>

		</div>
		<div id="item-data-right">
			<h1>Cite This Item</h1>
			<div>
				<div class="label">MLA FORMAT</div>
				<div class="cite">
					{{data.response.solr_doc.dc_creator[0]}}, Wayne State University Library. "{{data.response.solr_doc.dc_title[0]}}" <i>Wayne State University Library Digital Collections</i>. <?php echo $item["date"] ?>. <?php echo $item["url"] ?>
				</div>
			</div>
			<div>
				<div class="label">APA FORMAT</div>
				<div class="cite">
					{{data.response.solr_doc.dc_creator[0]}}, Wayne State University Library. ({{data.response.solr_doc.dc_title[0]}}). <?php echo $item["title"] ?>. Retrieved from <?php echo $item["url"] ?>
				</div>
			</div>
			<div>
				<div class="label">CHICAGO/TURABIAN FORMAT</div>
				<div class="cite">
					{{data.response.solr_doc.dc_creator[0]}}, Wayne State University Library. "{{data.response.solr_doc.dc_title[0]}}" Wayne State University Library Digital Collections. Accessed <?php echo date("F j, Y") ?>. <?php echo $item["url"] ?>
				</div>
			</div>
			<div>
				<div class="label">WIKIPEDIA CITATION</div>
				<div class="cite">
					<div>
						&lt;ref name=NYPL&gt;\{\{cite web | url=URL_HERE | title= ({{TITLE_HERE}}) TITLE_HERE }} |author=Digital Collections, Wayne State University Library |accessdate=TODAY_DATE |publisher=Wayne State University Library\}\}&lt;/ref&gt;
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}



