{% import "macros.html.twig" as m %}
{% extends "base.html.twig" %}

{% block title %}{{data.response.solr_doc.dc_title[0]}}{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}

<!-- piwik.library.wayne code here-->
<script type="text/javascript"> 
    var _paq = _paq || [];  
    _paq.push(['setCustomVariable', '1', 'content_model', 'Collection', 'visit'])
    _paq.push(["setDomains", ["*.digital.library.wayne.edu"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//piwik.library.wayne.edu/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 28]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!--end piwik-->

<!-- hidden schema.org stuctured data -->
<div id="struct_data" style="display:none;" itemscope="" itemtype="https://schema.org/CreativeWork">
    <span itemprop="name">{{data.response.solr_doc.dc_title[0]}}<br></span>
    <span itemprop="description">{{ data.response.solr_doc.mods_abstract_ms }}<br></span>       
    <span itemprop="text"></span>
    <span itemprop="genre">{{ data.response.solr_doc.mods_resource_type_ms}}<br></span>
    <span itemprop="dateCreated">{{ data.response.solr_doc.dc_date }}</span>
    <img src="//digital.library.wayne.edu/item/{{data.response.pid}}/thumbnail/" class="primary-image" itemprop="image">
    <meta itemprop="thumbnailUrl" content="https://digital.library.wayne.edu/item/{{data.response.pid}}/thumbnail/">
</div>
<!-- ******************************** -->


<div id="templateCM" class="container">

    {# optional navigation #}
    {% if data.response.content_type_specific.object_hierarchy.ancestors|length > 0 or data.response.content_type_specific.object_hierarchy.children|length > 0 %}
        <div class="row">
            <div class="col-md-12 related-objects">
                {# show hierarchy if exists #}            
                {# {% block hierarchicalTree %}{% endblock %} #}
                {% include "item_view/hierarchicalTree.html.twig" %}
                {# show related if exists #}            
                {# {% block hierarchicalTree %}{% endblock %} #}
            </div>
        </div>
    {% endif %}

    <div class="row">
        
        <div class="col-md-8 primary-object">
            
            <div class="primary-object-container">

            {% block item_content %}{% endblock %}

            </div>

        </div>
        
        <div class="info-panel col-md-3">
            <h3 class="title">{{data.response.solr_doc.dc_title[0]}}</h3>

            <h4>{{ data.response.solr_doc.dc_date[0] }}</h4>

            <p style="max-height:395px; overflow-y:scroll;" class="description">
                {{ m.metadataField('Description', data.response.solr_doc.mods_abstract_ms, 'mods_abstract_ms', false) }}
            </p>

            <!-- ########################################### -->
            <style type="text/css">

            </style>


            <ul class="buttons">    

                <!-- More info -->
                <li class="more-info-clickr">
                    <i class="icon-info"></i> <span class="more-info">Less Info</span>
                </li>
                
                <!-- Add citation button if WSUebook -->
                
                <!-- Favorite -->
                <!-- <li class="add-to-favorites" onclick="addFav();">
                    <i class="icon-star"></i> Add to Favorites
                </li> -->

                <!-- Share -->
                {{ m.socialMedia() }}

                <!-- Report a Problem -->
                <div class="bothButtons" style="width: 100%;">
                    {% if "info:fedora/wayne:collectionvmc" in data.response.solr_doc.rels_isMemberOfCollection %}
                    <a href="/contact?type=rap&pid={{data.response.pid}}">
                        <button class="original flag btn btn-block" style="width: 49%; float: left;">Report a Problem?</button>
                    </a>
                    <a id="permissions" href="/contact?type=permissions&pid{{data.response.pid}}">
                        <button class="permission btn btn-block" style="width: 49%; float: right; margin-top: -1px;">Permission Request</button>
                    </a>
                    {% else %}
                    <a href="/contact?type=rap&pid={{data.response.pid}}">
                        <button class="original flag btn btn-block" style="width: 100%;">Report a Problem?</button>
                    </a>
                    {% endif %}
                </div>

                <!-- EPUB SECTION -->
                {% if response.solr_doc.rels_hasEpub %}
                    <br/><a href='/item/{{data.response.pid}}/EPUB'><button class='original btn btn-block' style='display: block;background-color: lightgreen;'>Download eBook</button></a>
                {% endif %}

            </ul>

            <div class=" metadata display-more-info" id="more-info">    
                <table class="table table-hover">

                    <tbody>

                        <style>
                            tbody a {
                                text-decoration: underline;
                                color:#093f39;
                            }
                        </style>

                        <!--Identifier-->
                        {% if data.response.pid %}
                        <tr>
                            <td>Identifier:</td>        
                            <td>
                                <span>{{data.response.pid}}</span>
                            </td>       
                        </tr>
                        {% endif %}

                        <!--Content Type(s)-->
                        {% if data.response.content_type %}
                        <tr>
                            <td>Content Type(s):</td>       
                            <td>
                                {% if data.response.solr_doc.human_hasContentModel %}
                                {# Content Type #}
                                {{ m.metadataField('Content Type', data.response.solr_doc.human_hasContentModel, 'content_type', true) }}
                                <!-- <a class="linebreak" href="/search?q=*&amp;start=0&amp;fq[]=rels_hasContentModel:&quot;info:fedora/CM:Collection&quot;">Collection</a> -->
                                {% else %}
                                {{ m.metadataField('Content Type', data.response.content_type, 'content_type', true) }}
                                {% endif %}
                            </td>       
                        </tr>
                        {% endif %}

                        <!--Date (DC specific)-->
                        {% if data.response.solr_doc.dc_date %}
                        <tr>
                            <td>Date:</td>
                            <td>
                                {{ m.metadataField('Date', data.response.solr_doc.dc_date, 'dc_date', true) }}
                            </td>
                        </tr>
                        {% endif %}

                        <!--Date (Year)-->
                        {% if data.response.solr_doc.mods_key_date_year %}
                        <tr>
                            <td>Year:</td>
                            <td>
                                {{ m.metadataField('Date', data.response.solr_doc.mods_key_date_year, 'mods_key_date_year', true) }}
                            </td>
                        </tr>
                        {% endif %}

                        <!--Collections-->
                        {% if data.response.solr_doc.human_isMemberOfCollection %}
                        <tr>
                            <td>Collection:</td>
                            <td>
                                {{ m.metadataField('Collection', data.response.solr_doc.human_isMemberOfCollection, 'human_isMemberOfCollection', true) }}
                            </td>
                        </tr>
                        {% endif %}

                        <!--Subjects-->
                        {% if data.response.solr_doc.dc_subject %}
                        <tr>
                            <td>Subject:</td>
                            <td>
                                {{ m.metadataField('Subjects', data.response.solr_doc.dc_subject, 'dc_subject', true) }}
                            </td>
                        </tr>
                        {% endif %}

                        <!-- ######################## Archival Finding Aids ######################## -->

                        {% for collection in data.response.member_of_collections.pids %}
                        
                        <!-- acqusition -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_acquisition_ms %}
                        <tr style="display: none;">
                            <td>Acquisition:</td>       
                            <td>
                                {{ m.metadataField('Acquisition', data.response.member_of_collections.metadata[collection].mods_note_acquisition_ms, 'mods_note_acquisition_ms', true) }}
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- processHist -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_processHist_ms %}
                        <tr style="display: none;">
                            <td>Process History:</td>       
                            <td>
                                {{ m.metadataField('Process History', data.response.member_of_collections.metadata[collection].mods_note_processHist_ms, 'mods_note_processHist_ms', true) }}
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- arrangement -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_arrangement_ms %}
                        <tr style="display: none;">
                            <td>Arrangement:</td>       
                            <td>
                                {{ m.metadataField('Arrangement', data.response.member_of_collections.metadata[collection].mods_note_arrangement_ms, 'mods_note_arrangement_ms', true) }}
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- relatedMaterials -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_relatedMaterials_ms %}
                        <tr style="display: none;">
                            <td>Related Materials:</td>     
                            <td>
                                {{ m.metadataField('Related Materials', data.response.member_of_collections.metadata[collection].mods_note_relatedMaterials_ms, 'mods_note_relatedMaterials_ms', true) }}
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- preferredCitation -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_preferredCitation_ms %}
                        <tr style="display: none;">
                            <td>Preferred Citation:</td>        
                            <td>
                                {{ m.metadataField('Preferred Citation', data.response.member_of_collections.metadata[collection].mods_note_preferredCitation_ms, 'mods_note_preferredCitation_ms', true) }}
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- scopeAndContent -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_scopeAndContent_ms %}
                        <tr style="display: none;">
                            <td>Scope &amp; Content:</td>       
                            <td>
                                {{ m.metadataField('Scope and Content', data.response.member_of_collections.metadata[collection].mods_note_scopeAndContent_ms, 'mods_note_scopeAndContent_ms', true) }}
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- findingAid -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_findingAid_ms %}
                        <tr style="display: none;">
                            <td>Finding Aid:</td>       
                            <td>
                                {{ m.metadataField('Finding Aid', data.response.member_of_collections.metadata[collection].mods_note_findingAid_ms, 'mods_note_findingAid_ms', true) }}
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- transfers -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_transfers_ms %}
                        <tr style="display: none;">
                            <td>Transfers:</td>     
                            <td>
                                {{ m.metadataField('Transfers', data.response.member_of_collections.metadata[collection].mods_note_transfers_ms, 'mods_note_transfers_ms', true) }}
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- history -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_history_ms %}
                        <tr style="display: none;">
                            <td>History:</td>       
                            <td>
                                {{ m.metadataField('History', data.response.member_of_collections.metadata[collection].mods_note_history_ms, 'mods_note_history_ms', true) }}
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- dateStatement -->
                        {% if data.response.member_of_collections.metadata[collection].mods_note_dateStatement_ms %}
                        <tr style="display: none;">
                            <td>Date Statement:</td>        
                            <td>
                                {{ m.metadataField('Date Statement', data.response.member_of_collections.metadata[collection].mods_note_dateStatement_ms, 'mods_note_dateStatement_ms', true) }}
                                ?
                            </td>       
                        </tr>
                        {% endif %}

                        <!-- ######################## / Archival Finding Aids ######################## -->

                        <!--Coverage-->
                        {% if data.response.member_of_collections.metadata[collection].dc_coverage %}
                        <tr>
                            <td>Coverage:</td>
                            <td>
                                {{ m.metadataField('Coverage', data.response.member_of_collections.metadata[collection].dc_coverage, 'dc_coverage', true) }}
                            </td>
                        </tr>
                        {% endif %}

                        <!--Creator-->
                        {% if data.response.member_of_collections.metadata[collection].mods_name_creator_ms %}
                        <tr>
                            <td>Creator:</td>
                            <td>
                                {{ m.metadataField('Creator', data.response.member_of_collections.metadata[collection].mods_name_creator_ms, 'mods_name_creator_ms', true) }}
                            </td>
                        </tr>
                        {% endif %}

                        <!--MODS Resource Type-->
                        {% if data.response.member_of_collections.metadata[collection].mods_resource_type_ms %}
                        <tr>
                            <td>Resource Type:</td>
                            <td>
                                {{ m.metadataField('Resource Type', data.response.member_of_collections.metadata[collection].mods_resource_type_ms, 'mods_resource_type_ms', false) }}
                           </td>
                        </tr>
                        {% endif %}

                           <!--Publisher-->
                           {% if data.response.member_of_collections.metadata[collection].dc_publisher %}
                        <tr style="display: none;">
                            <td>Publisher:</td>
                            <td>
                                {{ m.metadataField('Publisher', data.response.member_of_collections.metadata[collection].dc_publisher, 'dc_publisher', true) }}
                            </td>
                        </tr>
                        {% endif %}

                        <!--Source-->
                        {% if data.response.member_of_collections.metadata[collection].dc_source %}
                        <tr style="display: none;">
                            <td>Source:</td>
                            <td>
                                {{ m.metadataField('Source', data.response.member_of_collections.metadata[collection].dc_source, 'dc_source', true) }}
                            </td>
                        </tr>
                        {% endif %}

                         <!--Rights-->
                        {% if data.response.member_of_collections.metadata[collection].mods_accessCondition_ms %}
                            <tr>
                                <td>Rights:</td>
                                <td>

                                 <!-- Rights specific to the Digital Object trump collection object rights
                                This is reflected in logic below. -->

                                <!-- Object Rights -->      
                                <strong>Digital Objects Rights:</strong><br>

                                {{ m.metadataField('Rights', data.response.solr_doc.dc_rights, 'dc_rights', false) }}

                                <!-- Collection Rights -->

                                </td>
                            </tr>

                        {% else %}
                            {{data.response.solr_doc.dc_rights}}

                        {% endif %}


                        {% endfor %}


                        <!-- Credit Line Note -->
                         {% if data.response.solr_doc.mods_note_creditLine_ms %}
                        <tr>
                            <td>Credit:</td>
                            <td>
                                {{ m.metadataField('Credit', data.response.solr_doc.mods_note_creditLine_ms, 'mods_note_creditLine_ms', false) }}
                            </td>
                        </tr>
                        {% endif %}
                        
                        <!--Components-->
                        <tr style="display: none;">
                            <td>Components:</td>
                            <td>
                            </td>
                        </tr>

                        <!--Persistent, Catalog Record -->
                        {% if data.response.solr_doc.dc_source %}
                        <tr>
                            <td>Catalog Record:</td>
                            <td>
                                {{ m.metadataField('Credit', data.response.solr_doc.dc_source, 'dc_source', false) }}
                            </td>
                        </tr>
                        {% endif %}

                        <!--Fulltext Datastreams-->
                        <tr style="display: none;">
                            <td>Fulltext(s):</td>
                            <td>
                            </td>
                        </tr>

                        <!--Transcripts -->
                        <tr style="display: none;">
                            <td>Transcription:</td>
                            <td>
                            </td>
                        </tr>

                        <!--Hierarchical Container-->
                        <tr style="display: none;">
                            <td>Container:</td>
                            <td>

                            </td>
                        </tr>

                        <!--Related Objects-->
                        

                        <script>
                            // remove instances of <mods:relatedItem> if includes @type attribute, as we handle other ways
                            $('.relatedItem').each(function(){
                                if ($(this).attr('type') != '') {
                                    $(this).remove();
                                }
                            });
                        </script>

                        <!--Physical Archival Location-->
                        {% if data.response.solr_doc.mods_otherFormat_title_ms %}
                        <tr>
                            <td>Other Formats:</td>
                            <td>
                                <strong>Title:</strong> {{ m.metadataField('Title', data.response.solr_doc.mods_otherFormat_title_ms, 'mods_otherFormat_title_ms', false) }}<br>
                                <strong>Location:</strong> {{ m.metadataField('Location', data.response.solr_doc.mods_otherFormat_physLocale_ms, 'mods_otherFormat_physLocale_ms', false) }}<br>
                                <strong>Note:</strong> {{ m.metadataField('Note', data.response.solr_doc.mods_otherFormat_note_ms, 'mods_otherFormat_note_ms', false) }}
                            </td>
                        </tr>
                        {% endif %}

                        <!--IIIF Manifest-->
                        <tr>
                            <!-- <td><img src="img/iiif_logo.png" height=25 /></td> -->
                            <td>Structured Data</td>
                            <td>
                                <a class="linebreak" href="/item/{{data.response.pid}}/file/DC">Dublin Core: XML</a>

                                <a class="linebreak" href="/item/{{data.response.pid}}/file/MODS">MODS: XML</a>
                                
                                <a class="linebreak" href="/api/item/{{data.response.pid}}">API data: JSON</a>
                            </td>       
                        </tr>  

                        <!--Downloads-->
                        <tr class="downloads" style="display: none;">
                            <td>Downloads</td>
                            <td id="downloads_target"></td>
                        </tr>                                  

                    </tbody>

                </table>                    
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 pull-right">
                <ul class="links">
                    <li><a href="http://libraries.wayne.edu">Libraries</a></li>
                    <li><a href="https://www.surveymonkey.com/s/QHWX3V7">Feedback</a></li>
                    <li><a href="http://libraries.wayne.edu/info/policies/privacy.php">Privacy</a></li>
                    <li><a href="http://libraries.wayne.edu/info/policies/eresources.php">Acceptable Use</a></li>
                </ul>
            </div>
            <div class="col-xs-6 copyright">
                © 2009 - {{ "now"|date("Y") }} Wayne State University Board of Governors
            </div>
        </div>
    </div>
</footer>       

<div id="sidr-main" class="sidr left"><div class="sidr-inner">
    <ul class="sidr-class-nav sidr-class-navbar-nav">
        <li><a href="allcollections.php">Collections</a></li>
        <li><a href="search.php">Browse</a></li>
        <li><a href="favorites.php" id="fav_link">Favorites</a></li><li><a href="about.php">About</a></li>
        <li><a href="contact.php">Contact</a></li>
    </ul>
</div><div class="sidr-inner">
    <li class="sidr-class-login_status"><a onclick="logoutUser(); return false;" href="#"><i class="icon-exit"></i>Log Out</a></li>
</div></div>


{% endblock %}
