{# Date #}
{% macro date(action, data) %}
	{% import _self as m %}
	{% for date in data.response.solr_doc.dc_date %}
		{{m.facetBuilder(action, "dc_date", date, "")}}
	{% endfor %}
{% endmacro %}

{# Subjects #}
{% macro subjects(action, data) %}
	{% import _self as m %}
	{% if data.response.solr_doc.dc_subject > 1 %}
		{% for subject in data.response.solr_doc.dc_subject %}
			{{m.facetBuilder(action, "dc_subject", subject, "")}}
		{% endfor %}
	{% else %}
		{{m.facetBuilder(action, "dc_subject", data.response.solr_doc.dc_subject, "")}}
	{% endif %}
{% endmacro %}

{# Content type #}
{% macro contentType(action, data) %}
	{% import _self as m %}
	{% if data.response.content_type > 1 %}
		{% for ct in data.response.content_type %}
			{{m.facetBuilder(action, "human_hasContentModel", ct, "")}}
		{% endfor %}
	{% else %}
		{{m.facetBuilder(action, "human_hasContentModel", data.response.content_type, "")}}
	{% endif %}
{% endmacro %}

{# Facet Builder #}
{% macro facetBuilder(action, facet, facet_value, facet_count, show_count, query_string) %}
	{% if action == "add" %}
		<a href="{{path_for('search') ~ "?" ~ add_param_to_query_string(QueryBuilder, facet ~ ":" ~ facet_value, query_string, true)}}">{{facet_value}}{% if show_count %} ({{facet_count|number_format}}){% endif %}</a>
	{% elseif action == "del" %}
		<a href="{{path_for('search') ~ "?" ~ del_param_from_query_string(QueryBuilder, facet ~ ":" ~ facet_value, query_string, true)}}">{{facet_value}}{% if show_count %} ({{facet_count|number_format}}){% endif %}</a>
	{% endif %}
{% endmacro %}

{# Facet Link Builder #}
{% macro facetLinkBuilder(action, facet, facet_value, query_string) %}
	{% if action == "add" %}
		{{path_for('search') ~ "?" ~ add_param_to_query_string(QueryBuilder, facet ~ ":" ~ facet_value, query_string, true)}}
	{% elseif action == "del" %}
		{{path_for('search') ~ "?" ~ del_param_from_query_string(QueryBuilder, facet ~ ":" ~ facet_value, query_string, true)}}
	{% endif %}
{% endmacro %}

{# Facet sideblock #}
{% macro facetBlockBuilder(data, query_string, facet_name, facet_id) %}
	{% import _self as m %}
	{% if data.response.solr_results.facet_counts.facet_fields[facet_id]|length > 0 %}
		<ul class="facet_container filter" id="{{ facet_id }}_facet"><li>
			<h3 class="tree-toggler"><span class="icon-minus-thin"></span>{{ facet_name }}</h3>
		    	<ul class="tree facet_list" id="{{ facet_id }}_list">
		    		{% for facet_value in data.response.solr_results.facet_counts.facet_fields[facet_id] %}
		        		<li>{{m.facetBuilder("add", facet_id, facet_value[0], facet_value[1], true, query_string)}}</li>
		    		{% endfor %}
	    			<li><span style="font-weight:bold; cursor:pointer;" href="#" onclick="facet_select('{{facet_id}}','{{facet_name}}'); return false;">more >></span></li>
		    	</ul>
		    </li>
		</ul>
	{% endif %}
{% endmacro %}

{# Secondary Images -- if any #}
{% macro secondaryImages(data) %}
	{% for img in data.response.content_type_specific[0].imageParts.sorted %}
		<img src="/loris/fedora:{{data.response.pid}}%7C{{img.preview}}/full/63,/0/default.jpg">
	{% endfor %}
{% endmacro %}

{# metadata fields #}
{% macro metadataField(field_name, values, facet_name, create_facet_link) %}
	{% import _self as m %}
	{% if values > 1 or values != none %}
			{% if values > 1 %}
				{% for value in values %}
					<div>{% if create_facet_link %}{{ m.facetBuilder('add', facet_name, value, false, false, '') }}{% else %}{{value|raw}}{% endif %}</div>
				{% endfor %}
			{% else %}
				<div>{% if create_facet_link %}{{ m.facetBuilder('add', facet_name, values, false, false, '') }}{% else %}{{values|raw}}{% endif %}</div>
			{% endif %}
	{% endif %}
{% endmacro %}

{# create link for single item #}
{% macro singleItem(pid) %}
	{{ path_for('item') ~ "/" ~ pid }}
{% endmacro %}


{# container thumbs #}
{% macro containerThumbs(object_hierarchy, i) %}

   	{% for child in object_hierarchy.children %}
    <li class="obj-cnt object-container-grid">
        <div class="crop" style="height:100%;">
            <a href="/item/{{child.pid}}"><img src="/item/{{child.pid}}/thumbnail"></a>
        </div>
        <h3>{{child.title}}</h3>
    </li>
    {% endfor %}

{% endmacro %}

{# recursive hierarchy #}
{% macro objectHierarchy(object_hierarchy, i) %}

	{# self, siblings, and children macro #}
	{% macro self_siblings_children(object_hierarchy) %}
		<ul class="tree hierarchy_navigation" style="display: block;">
    		<li class="self">
    			{# {% if object_hierarchy.children|length > 0 %}<span class="hierarchy_toggle">+</span>{% endif %}  #}<a href="/item/{{object_hierarchy.self.pid}}"><span class="hierarchy_self">{{ object_hierarchy.self.title }}</span></a>
    			{% if object_hierarchy.children|length > 0 %}
    				<ul>
    					{% for child in object_hierarchy.children %}
    						<li><a href="/item/{{child.pid}}">{{ child.title}}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
    		</li>
    		{# {% for sibling in object_hierarchy.siblings %}
    			<li><a href="/item/{{sibling.pid}}">{{ sibling.title}}</a></li>
			{% endfor %} #}
		</ul>
	{% endmacro %}

	{# allows recursive use of this macro #}	
	{% import _self as self %}

	{# set ancestors if exist #}
	{% if object_hierarchy.ancestors|length > 0 %}
		{% set ancestor = object_hierarchy.ancestors[i] %}
	    <li>
	        {# <span class="hierarchy_toggle">+</span>  #}<a href="/item/{{ancestor.pid}}">{{ ancestor.title }}</a>
	        {% if ancestor.level > 1 %}
        		<ul>
	                {{ self.objectHierarchy(object_hierarchy, i + 1) }}
	            </ul>
	        {% else %}
	        	{# write self, siblings, and children #}
	        	{{ self.self_siblings_children(object_hierarchy) }}
	        {% endif %}
	    </li>
    {% else %}
    	{{ self.self_siblings_children(object_hierarchy) }}
	{% endif %}    

{% endmacro %}


{# Downloads #}

{# Random Image for Contact Page #}
{% macro randomImage() %}

	{{random(['wayne:vmc8713','wayne:vmc8713_1','wayne:vmc36234','wayne:vmc74336','wayne:vmc74336_1','wayne:vmc13884','wayne:vmc44325','wayne:vmc44324','wayne:UniversityBuildings26130'])}}

{% endmacro %}

{# Social Media #}
{% macro socialMedia() %}
    <li class="share">            
        <ul>
          <!-- facebook -->          
          <li><a href="//www.facebook.com/sharer/sharer.php?u=https://digital.library.wayne.edu/digitalcollections/item/{{data.response.pid}}"><span class="st_facebook_custom icon-facebook" displaytext="Facebook"></span></a></li>
          <li><a href="//twitter.com/share?url=https://digital.library.wayne.edu/digitalcollections/item/{{data.response.pid}}&amp;text=Virtual Motor City"><span class="st_twitter_custom icon-twitter4" displaytext="Tweet"></span></a></li>
          <li><a href="//www.tumblr.com/share/link?url=https://digital.library.wayne.edu/digitalcollections/item/{{data.response.pid}}" target="blank_"><span class="st_email_custom icon-tumblr" displaytext="Email"></span></a></li>
          <li><a href="mailto:?subject=Virtual Motor City - Wayne State University Digital Collections&amp;body=Look%20what%20I%20found%20in%20the%20Wayne%20State%20University%20Digital%20Collections!%0A%0Ahttps://digital.library.wayne.edu/digitalcollections/item/{{data.response.pid}}"><span class="st_email_custom icon-email" displaytext="Email"></span></a></li>
        </ul>
    </li>
{% endmacro %}
{# MLA Citation #}

{# APA Citation #}


